{% load static %}

<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <h3>Grocery <i class="fas fa-shopping-basket"></i></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, impedit. Qui sapiente nobis amet eos!
            </p>
            <div class="share">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab-falinkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"><i class="fas fa-phone"></i>+123-456-7890</a>
            <a href="#" class="links"><i class="fas fa-phone"></i>+111-222-3333</a>
            <a href="#" class="links"><i class="fas fa-envelope"></i>grocery@gmail.com</a>
            <a href="#" class="links"><i class="fas fa-map-marker-alt"></i>Dehradun, India-240008</a> 
        </div>

        <div class="box">
            <h3>quick-links</h3>
            <a href="#home" class="links"><i class="fas fa-arrow-right"></i>home</a>                
            <a href="#features" class="links"><i class="fas fa-arrow-right"></i>features</a>
            <a href="#products" class="links"><i class="fas fa-arrow-right"></i>products</a>
            <a href="#categories" class="links"><i class="fas fa-arrow-right"></i>categories</a>
            <a href="#review" class="links"><i class="fas fa-arrow-right"></i>review</a>
            <a href="#blogs" class="links"><i class="fas fa-arrow-right"></i>blogs</a> 
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p> 
            <input type="email" placeholder="Email..." class="email">
            <input type="submit" value="subscribe" class="btn">
            <img src="{% static 'images/about-img-1.png' %}" class="payment-img  " alt="">
        </div>
    </div>
    <div class="credit">created by <span>Mr. Hrishabh Tiwari</span> | All rights reserved</div>
</section>